.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    height: 30rem;
    padding: 1rem;
  }
  .collapses {
    width: 100%;
    max-width: 1440px; // Correspond à la largeur de la bannière
    margin: 20px auto; // Ajoute des marges en haut et en bas et centre les collapses
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; // Ajoute un espace entre chaque collapse

    .collapse {
      width: 100%; // Prend toute la largeur du conteneur .collapses
      // Styles supplémentaires pour .collapse si nécessaire...
    }
  }
  .banner {
    width: 100%;
    height: 300px; // Hauteur de la bannière
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    margin-bottom: 2rem;

    .footer {
      position: absolute;
    }
  }
}
