$collapse-background: #ff6060;
$collapse-text-color: #ffffff;
$collapse-content-background: #ffffff;

.collapse {
  & + & {
    margin-top: 1em;
  }

  .collapse-header {
    background-color: $collapse-background;
    color: $collapse-text-color;
    padding: 20px;
    font-size: 1.25em;
    font-weight: bold;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    .collapse-arrow {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: transform 0.3s ease;

      // Pas de rotation initiale nécessaire ici car elle est appliquée ci-dessous
    }

    // Rotation de la flèche lors de l'activation
    &.active .collapse-arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: $collapse-content-background;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;

    &.active {
      padding: 20px;
      max-height: 1000px;
    }
  }
}
