$collapse-background: #ff6060;
$collapse-text-color: #ffffff;
$collapse-arrow-color: #ffffff;
$collapse-content-background: #ffffff;

.collapse {
  & + & {
    margin-top: 1em; // Espace entre les éléments Collapse
  }

  .collapse-header:after {
    content: ""; // Assurez-vous que le contenu est vide
    display: inline-block; // Permet à l'élément d'être transformé
    background-image: url("/path/to/your/arrow.svg"); // Chemin vers votre SVG
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg); // Orientation initiale
    width: 20px; // Taille de l'image de la flèche
    height: 20px;
    background-size: cover; // La flèche couvre toute la zone définie
    transition: transform 0.3s ease; // Anime la transformation
  }

  .collapse.open .collapse-header:after {
    transform: translateY(-50%) rotate(180deg); // Rotation de la flèche pour indiquer l'état ouvert
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: $collapse-content-background;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;
    &.active {
      padding: 20px;
      max-height: 1000px; // Assurez-vous que c'est suffisant pour votre contenu
    }
  }
}
