$collapse-background: #ff6060;
$collapse-text-color: #ffffff;
$collapse-arrow-color: #ffffff;
$collapse-content-background: #ffffff;

.collapse {
  & + & {
    margin-top: 1em; // Ajustez la valeur de l'espace à votre convenance
  }
  .collapse-header {
    background-color: $collapse-background;
    color: $collapse-text-color;
    padding: 20px;
    font-size: 1.25em;
    font-weight: bold;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    .collapse-arrow {
      background: none;
      border: none;
      color: $collapse-arrow-color;
      font-size: 1.5em;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(0deg); // Flèche pointe vers le haut initialement
      transition: transform 0.3s ease;

      &.active {
        transform: translateY(-50%) rotate(180deg); // Flèche pointe vers le bas quand le contenu est ouvert
      }
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: $collapse-content-background;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;

    &.active {
      padding: 20px;
      max-height: 1000px; // Mettre une valeur suffisamment haute pour contenir le contenu
    }
  }
}
