$collapse-background: #ff6060;
$collapse-text-color: #ffffff;
$collapse-arrow-color: #ffffff;
$collapse-content-background: #ffffff;

.collapse {
  & + & {
    margin-top: 1em; // Espace entre les éléments Collapse
  }

  .collapse-header {
    background-color: $collapse-background;
    color: $collapse-text-color;
    padding: 20px;
    font-size: 1.25em;
    font-weight: bold;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    &:after {
      content: ""; // Supprimez le contenu textuel pour utiliser une image de fond
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px; // Spécifiez une largeur pour l'icône
      height: 20px; // Spécifiez une hauteur pour l'icône
      background-image: url("/path/to/your-arrow.svg"); // Mettez ici le chemin vers votre fichier SVG
      background-size: cover; // Assurez-vous que l'image couvre bien la taille spécifiée
      transition: transform 0.3s ease;
    }
  }

  .collapse.open .collapse-header:after {
    transform: translateY(-50%) rotate(180deg); // Rotation de la flèche pour indiquer l'état ouvert
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: $collapse-content-background;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;
    &.active {
      padding: 20px;
      max-height: 1000px; // Assurez-vous que c'est suffisant pour votre contenu
    }
  }
}
