footer {
  .footer-logo {
    max-width: 125px;
    margin-bottom: 2rem;
  }

  p {
    color: #fff;
    margin: 0;
  }
}
.home-footer {
  height: 100px; // Exemple : hauteur spécifique pour la page d'accueil
}
}