.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 382px;

  .footer-logo {
    max-width: 125px;
    margin-bottom: 2rem;
  }

  p {
    color: #fff;
    margin: 0;
  }
}
.home-footer {
  height: 100px; // Exemple : hauteur spécifique pour la page d'accueil
}
.about-footer {
  height: 589px; // Exemple : hauteur spécifique pour la page "À propos"
  // Autres styles spécifiques à la page "À propos" si nécessaire
}
