.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;

  .footer-logo {
    max-width: 100px;
    margin-bottom: 1rem;
  }

  p {
    color: #fff;
    margin: 0;
  }
}
