footer {
  position: absolute;
  width: 100%;
  padding: 1rem 0;
  background-color: #000;

  bottom: 0;
  left: 0;
  text-align: center;

  p {
    color: #fff;
    margin: 0;
  }
  .home-page .footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
