.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;

  .footer-logo {
    height: 50px;
    margin-bottom: 2rem;
  }

  p {
    color: #fff;
    margin: 0;
    font-size: x-large;
    @media (max-width: 768px) {
      font-size: medium;
    }
  }
}
