.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  max-width: 1440px;
  margin: 2rem auto;
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Une seule colonne pour les cartes
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    background-color: #ff6060;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Adaptation pour la taille des images et du texte à l'intérieur des cartes
    img {
      width: 100%;
      height: 300px;
      border-radius: 10px 10px 0 0;
    }

    .card-info {
      padding: 1rem;
      h2,
      p {
        margin: 0.5rem 0;
      }
    }
  }
}
