.header {
  display: flex;
  align-items: center;
  padding: 1rem;

  .header-logo {
    height: 50px;
    margin-right: 1rem;
  }

  nav {
    margin-left: auto;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-left: 2rem;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
