$collapse-background: #ff6060;
$collapse-text-color: #ffffff;
$collapse-arrow-color: #ffffff;
$collapse-content-background: #ffffff;

.collapse {
  & + & {
    margin-top: 1em;
  }

  .collapse-header {
    background-color: $collapse-background;
    color: $collapse-text-color;
    padding: 20px;
    font-size: 1.25em;
    font-weight: bold;
    width: 100%;
    text-align: left;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collapse-title {
      margin: 0;
    }

    .collapse-arrow {
      width: 24px; // or the size of your SVG
      height: 24px; // or the size of your SVG
      transition: transform 0.3s ease;
      transform: translateY(-50%) rotate(0deg); // Initial state, pointing down
      position: relative;
      top: 50%;
      right: 0;

      &.active {
        transform: translateY(-50%) rotate(180deg); // Rotates the arrow to point up
      }
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: $collapse-content-background;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;

    &.active {
      padding: 20px;
      max-height: 1000px; // Adjust if more space is needed
    }
  }
}
