.banner {
  width: 100%;
  height: 300px; // Définissez une hauteur pour que la bannière soit visible
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 0;
  text-align: center;
}
