.banner {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 300px; /* Définissez une hauteur */
  background-size: cover;
  background-position: center;
  text-align: center;
}
